


#facets{
	display: none;
	height: 20%;
	overflow-y: auto;
}


.easyPaginateNav {
    display: inline-block;
   width:auto;
}

.easyPaginateNav a {
	border: 1px solid #ddd; /* Gray */
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.easyPaginateNav a.current {
    background-color: #4CAF50;
    color: white;
}

#date_end{
	display: none;
}

#results .label{
	margin-bottom: 10px!important;
}



#info-noresult{
    display: none;
}



@media screen and (min-width: 1000px) {
    #logo{
        left: -2%;
    }
    #logout{
        right: -2%;
    }
    #dataset{
        right: -2%;
    }
    #upload{
        right: -2%;
    }
}

@media screen and (min-width: 1200px) {
    #logo{
        left: -15%;
    }
    #logout{
        right: -13%;
    }
    #dataset{
        right: -13%;
    }
    #upload{
        right: -13%;
    }
}


.content{
    min-height: 90%;
}

#footer{
    background-color: #767676;
}


#authors li a{
    cursor: pointer;
}
