#authors li a {
cursor:pointer
}


#dataset {
font-size:18px
}

#date_end {
display:none
}

#deletesamplingpoint {
left:101%;
top:-32px
}

#facets {
display:none;
height:20%;
overflow-y:auto
}

#footer {
background-color:#767676
}

#info-noresult {
display:none
}

#login {
font-size:18px
}

#logout {
font-size:18px
}

#upload {
font-size:18px
}

#Displayfacets{
  display: none;
}

@media screen and (min-width: 200px) and (max-width: 1118px) {
    #about{
        order: 2;
    }
    #login {
font-size:11px
}

#Displayfacets{
  display: block;
}


#logout {
font-size:11px
}

#upload {
font-size:11px
}
#dataset {
font-size:11px
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
     width: 20%!important; 
}
#doi{
  margin:2em;

}
#Displayfacets{
  margin:10%; 
  margin-top:20PX;

}
#uploadeddate{
  margin-top: 4em;
}
#description{
  margin-top: 5%;
}
#DataTables_Table_1_filter{
  margin-left: -123%;
  margin-top:59%;
}
#DataTables_Table_0_filter{
  margin-left: -123%;
  margin-top:59%;
}

.content a{
  margin-right: 0%;
}


}

#results .label {
margin-bottom:10px!important
}

#cards{
    margin-top: 40px;
}
.accordion .button {
margin-bottom:10px!important
}

.content {
min-height:90%
}

.delete {
position:relative;
top:10px
}

.delete.center {
position:relative;
top:30px
}

.field .dropdown {
margin-bottom:10px!important
}

.field input {
margin-bottom:10px!important
}

.navbar {
height:80px!important
}

.navbar-brand {
display:inline-block
}

.navbar-brand img {
height:80px!important;
line-height:60px!important
}

.navbar-brand span {
color:#fff;
line-height:60px!important;
margin-left:15px;
white-space:nowrap
}

.navbar-sandwich {
display:none;
position:relative!important
}

.navbar-sandwich .menu .icon {
position:absolute!important;
right:10px!important;
top:40%!important
}

.navbar-sandwich-icon {
margin:0!important;
padding:0!important
}

.ui.form .required.field>.checkbox:after,.ui.form .required.field>label:after,.ui.form .required.fields.grouped>label:after,.ui.form .required.fields:not(.grouped)>.field>.checkbox:after,.ui.form .required.fields:not(.grouped)>.field>label:after {
font-size:x-large
}

.author li{
    list-style-type: decimal;
}
li::before {
  content: "";
  width: 10px;
  display: inline-block;
}
#map { height: 380px; }



#DataTables_Table_0_wrapper{
 display:none;   
}

.files .list {
  overflow: auto;
}

.card {
  overflow: auto;
}
