{% include 'head.html.twig' %}
<div class="ui grid container ">
		   <div class="row"></div>
		   <div class="row">
		      <h1>About ORDaR </h1>
		   </div>
		   <div class="ui grid center ">
		   <div class="ui segment">
					<div class="ui text ">

					<p>ORDaR (OTELo Research Data Repository) est l'entrepot de données de la recherche de l'Observatoire Terre Environnement de Lorraine (OTELo). </p>

					<p>ORDaR propose un environnement sécurisé et pérenne pour le dépot de jeux de données numérique et permet d’obtenir un permalien (DOI : Digital Object Identifier) citable dans une publication ou un datapaper.</p>

					<p>Les jeux de données issus des recherches scientifiques menées dans les différents laboratoires sont publiés sur ORDaR suivant trois types :</p>
					<ul>
					<li> Open : accès total (opendata)</li>
					<li> Closed : accès limité aux métadonnées (descriptions des jeux de données)</li>
					<li> Embargoed : accès limité aux métadonnées jusqu'à une date de publication fixée par le producteur.</li>
					</ul>

					<p>Seules les equipes scientifiques d'OTELo sont autorisées à déposer des jeux de données préalablement vérifiés et validés.</p>

					<p>Toutes les métadonnées sont librement accessibles suivant des standards internationnaux et sont téléchargeable dans les formats suivant :<p>
					<ul>
					<li> Datacite</li>
					<li> BibteX </li>
					<li> JSON </li>
					<li> DublinCore </li>
					</ul>
					<p>Enfin, chaque jeux de données est publié avec une licence Créative Common qui précise le cadre légal de réutilisation</p>

					<p>Cet entrepot vise à promouvoir l'accès ouvert aux jeux de données, la valorisation et le partage des savoirs. </p>
					<p>Il préfigure les futures exigences européennes (H2020) et nationales (Loi pour une république numérique dit LEMAIRE)</p>
					</div>
					<div class="row"></div>

		   </div>
</div>

</div>
{% include 'footer.html.twig' %}
      
