{% include 'head.html.twig' %}
<div class="ui grid container ">
		   <div class="row"></div>
		   <div class="row">
		      <h1 class="ui dividing header">About ORDaR </h1>
		   </div>
		   <div class="ui segment container">
					<div class="ui text  ">

					<p>ORDaR (OTELo Research Data Repository) is Research Data Repository of Observatory Earth Environnemment of Lorraine (OTELo). </p>

					<p>ORDaR offers a secure and perennial environment for datasets deposit and makes it possible to obtain a DOI (Digital Object Identifier) for publication or datapaper.</p>

					<p>All datasets produced by OTELo's Laboratories is published in ORDaR in three types:</p>
					<ul>
					<li> Open : total access (opendata)</li>
					<li> Closed : Restricted access to only metadata</li>
					<li> Embargoed : Restricted access to only metadata until publication date fixed by producer</li>
					</ul>

					<p>Only OTELo 's Research Team  d'OTELo are authorized to deposit datasets (previously verified and validated)</p>

					<p>All metadata are open and describes in international standards, they are downloadable in 4 formats:<p>
					<ul>
					<li> Datacite</li>
					<li> BibteX </li>
					<li> JSON </li>
					<li> DublinCore </li>
					</ul>
					<p>Finally, each dataset is published with a Creative Common license that specifies the terms of legal reuse</p>

					<p>This Repository aims to promote open access : valuing and sharing knowledge.</p>
					<p>It foreshadows European and national requirements (H2020 adn Law for a digital french republic called LEMAIRE)</p>
					</div>
					<div class="row"></div>

		   </div>
		   					<div class="row"></div>


</div>
{% include 'footer.html.twig' %}
      
