{% include 'head.html.twig' %}
<div class="ui grid container">
   <div class="row"></div>
   <div class="row">
      <h1>About </h1>
   </div>
   <div class="ui  segment">
      Ornare, adipiscing volutpat inceptos venenatis sociis nisi. Facilisi nunc dictum montes ligula odio lacus nulla tristique. Lobortis non purus convallis ultricies cras litora pretium donec amet! Bibendum rhoncus vestibulum consequat pellentesque, semper fringilla proin platea potenti porta cubilia. Sit augue quis tempus pretium dolor viverra sodales. Mus sociis varius ridiculus vestibulum quis nisi pellentesque metus consectetur id per magna. Pulvinar laoreet morbi per fusce integer, nibh ipsum dictum. Arcu pellentesque convallis curae; consequat facilisis facilisi sit.

   </div>
</div>
{% include 'footer.html.twig' %}
      
