  <div class="ui modal contactauthor">
    <i class="close icon"></i>
    <div class="header"></div>
    <div class="content">
      <form action="contact_author" class="ui form contact" method="post">
        <div class="ui error message"></div>
        <div class="required field">
          <label>Your email</label> <input name="User-email" placeholder="Your email" type="email">
        </div>
        <div class="required field">
          <label>Subject</label> <input name="User-object" placeholder="Subject" type="text">
        </div>
        <div class="required field">
          <label>Message</label> 
          <textarea name="User-message"></textarea>
        </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div><button class="ui submit button">Submit</button>
    </div>
      </form>
  </div>