{% include 'head.html.twig' %}
<div class="ui grid container">
   <div class="row"></div>
   <div class="row">
      <h1 class="ui dividing header"> Edit document </h1>
   </div>
   <div class="ui ten wide column centered">
      {% if error %}
      <div class="ui warning message">
         <div class="header">
            Warning!  
         </div>
         {{error}}
      </div>
      {%endif%}
      <form class="ui form dataset" action="editrecord?id={{doi}}" method="post" enctype="multipart/form-data" >
      {% if (admin and accessright != "Unpublished") or (accessright=="Draft")  %}
      <div class="ui message">
         <div class="header">
            Instructions:
         </div>
         <p>Upload minimum one file and fill-in required fields (marked with a red star ).</p>
      </div>
         <h4 class="ui dividing header">Files <i class="file icon"></i> </h4>
         <div class="required field">
            <label for="file" class="custom-file-upload">
            File 
            </label>
         </div>
         <div class="ui grid">
            <div class="required field" id="files">
            {%if files%}
            {%for file in files%}
               <div class="ui input">
                     <input id="text" type="text" name="file_already_uploaded[]" value={{file.DATA_URL}} readonly><div class="ui icon delete"><i class="remove icon"></i></div>
               </div>
            {%endfor%}
            {%else%}
             <div class="field" id="files">
               <div class="ui input ">
                  <input id="file" data-validate="file" type="file" name="file[]" >
               </div>
            </div>
            {%endif%}
            </div>
            <div class="row"></div>
         </div>
         <div class="ui primary  button" id="addfile">
            <i class="plus icon"></i> Add a file
         </div>
         {%endif%}
         {% include 'formdataset.html.twig' %}
         <div class="ui grid ">
            <div class="ui sixteen wide column ">
            <div class="ui error message"></div>
            <div class="row"></div>
            <a href="javascript:history.back();" class="ui red button" ><i class="cancel icon"></i>Cancel</a>
            <button type="submit" class="ui submit right floated blue publish button" name="publish" value="publish"><i class="checkmark icon"></i>Publish</button>
             {% if accessright == "Draft" %}
            <button  type="submit" class="ui submit right floated save button" name="save" value="save"> <i class="save icon"></i>Save</button>
            {%endif%}
            </div>
            <div class="row"></div>
         </div>

      </form>
   </div>

<script type="text/javascript">
   APP.modules.upload.init();
</script>

 {% if admin and accessright != "Unpublished" %}
 <script type="text/javascript">

   $('form').submit(function () {
    var file = $.trim($('#files input').val());
    if (file==="") {
      $('.ui .message').addClass('red');
      $('html,body').scrollTop(0);
    return false;
    }
   
});
</script>
{%endif%}
{% include 'footer.html.twig' %}