
{% include 'head.html.twig' %}
<div class="ui grid container">
<div class="row"></div>
<div class="row">
<h1> Edit document </h1>
	
</div>
	<div class="ui ten wide column centered">


<form class="ui form" action="editrecord/{{doi}}" method="post" enctype="multipart/form-data" >

{% include 'formdataset.html.twig' %}

         
</form>
</div>
</div>
</div>


{% include 'footer.html.twig' %}
