</div>
<div id="footer" class="ui inverted vertical footer segment">
   <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
         <a onclick="APP.modules.send_email.contact()" class="item">Contact</a>
         <a href="terms" class="item">Terms of use</a>
         <a href="about" class="item">About</a>
      </div>
   </div>
</div>
</body>
</html>