<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta charset="UTF-8">
  <meta name="description" content="ORDAR OTELo Research Data Repository">
  <meta name="keywords" content="ORDAR, otelo,recherche, données, entrepot,doi,OAI,pmh,data,OBSERVATOIRE TERRE ET ENVIRONNEMENT DE LORRAINE">
  <title>ORDaR - OTELo Research Data Repository</title>
  <link href="/css/semantic/dist/semantic.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/jquery.range.css" rel="stylesheet" type="text/css">
  <link href="/css/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="/js/leaflet/leaflet.css" rel="stylesheet" type="text/css">
  <script src="/js/jquery.min.js">
  </script>
  <script src="/js/jquery.csv.js">
  </script>
  <script src="/js/jquery-ui.js">
  </script>
  <script src="/js/jquery.dataTables.min.js">
  </script>
  <script src="/js/dataTables.semanticui.min.js">
  </script>
  <script src="/js/jquery.range-min.js">
  </script>
  <script src="/css/semantic/dist/semantic.min.js">
  </script>
  <script src="/js/search.js">
  </script>
  <script src="/js/proj4.js" type="text/javascript"></script>
  <script src="/js/leaflet/leaflet.js">
  </script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Website",
  "name":"ORDAR : OTELo Research Data Repository",
  "url": "https://ordar.otelo.univ-lorraine.fr",
   "description": "description",
   "creator":"OTELO OSU",
   "contributor":"Pierre-Yves ARNOULD , Anthony GUIOT",
   "thumbnailurl":"https://ordar.otelo.univ-lorraine.fr/img/logo.png",
   "Datecreated":"JUIN 2017",
   "license":"AGPL v3",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://ordar.otelo.univ-lorraine.fr/searchresult?query={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</head>
<body>
  {% include 'contact.html.twig' %}
  <nav>
    <div class="navbar ui inverted grey menu">
      <a class="header left floated item" href="/accueil" id="logo"><img alt="logo" class="ui tiny image" src="/img/logo.png"></a>
      <div id="search"></div>{% if mail %} <a class="right item" href="logout" id="logout">Logout</a> <a class="item" href="upload" id="upload">Upload</a> <a class="item" href="mypublications" id="dataset">My dataset</a> {% else %} <a class="right item" href="login" id="login">Login</a> {% endif %}
    </div>
  </nav>
  <div class="content">
