
{% include 'head.html.twig' %}
<div class="ui grid container">
<div class="row"></div>
<h1> List of my dataset  </h1>
</div>


<div class="ui grid container">
<div class="row"></div>
    <div class="twelve wide centered column">




		<div class="ui message" id="info" ></div>




	  		  	<div id="results" class="ui divided items"></div>

	</div>

  
</div>



{% include 'footer.html.twig' %}

<script type="text/javascript">
		APP.modules.mypublications.init();
</script>