{% include 'head.html.twig' %}
<div class="ui grid container">
   <div class="row"></div>
   <div class="row ">
      <h1>Terms of use </h1>
   </div>
   <div class="ui  segment">
     Ornare, adipiscing volutpat inceptos venenatis sociis nisi. Facilisi nunc dictum montes ligula odio lacus nulla tristique. Lobortis non purus convallis ultricies cras litora pretium donec amet! Bibendum rhoncus vestibulum consequat pellentesque, semper fringilla proin platea potenti porta cubilia. Sit augue quis tempus pretium dolor viverra sodales. Mus sociis varius ridiculus vestibulum quis nisi pellentesque metus consectetur id per magna. Pulvinar laoreet morbi per fusce integer, nibh ipsum dictum. Arcu pellentesque convallis curae; consequat facilisis facilisi sit.

Ultricies quis lorem fusce pellentesque luctus molestie praesent convallis congue nunc! Libero ac quisque praesent at turpis velit. Suspendisse facilisi ad netus sagittis varius leo habitasse himenaeos? Ornare pretium pharetra volutpat interdum nec lorem inceptos placerat mauris himenaeos blandit tristique. Conubia sagittis est nunc. Et nulla donec dignissim sit venenatis vel.

Suscipit fusce primis montes sodales vivamus himenaeos. Torquent, habitasse etiam tincidunt dis. Varius quam convallis metus gravida pretium fringilla. Pharetra aliquam arcu sociis magna phasellus euismod pulvinar vulputate. Libero integer class tellus imperdiet pellentesque quisque pellentesque pretium eleifend porta justo diam. Pharetra ad nulla dictumst dapibus habitant taciti cursus auctor! Egestas arcu pulvinar a tempor. Porttitor nullam nascetur varius mi maecenas pharetra dapibus sit. Aenean nibh vehicula adipiscing iaculis. Lacinia porttitor habitant quis dignissim nam laoreet! Venenatis ante viverra fermentum phasellus primis odio taciti? Aptent, ac velit rhoncus. Lectus arcu ultricies fusce, euismod malesuada neque ac elementum amet porta.

Neque eleifend primis torquent nunc. Amet et dui erat litora. Eget himenaeos parturient lorem, eu habitasse nullam mus bibendum cubilia ligula. Malesuada arcu nostra ligula molestie massa nibh nulla ridiculus cubilia porttitor iaculis. Varius litora duis laoreet, dictum fringilla sem nisl et. Cras phasellus potenti etiam sollicitudin eget bibendum. Natoque aliquet dictum sodales. Mattis potenti donec natoque natoque vitae nibh. Et mi nascetur!

Purus auctor, aliquet porta vehicula dui viverra cras. Pellentesque aenean nunc nascetur semper dis primis feugiat! Torquent augue elit curae; per ipsum elementum aliquet purus felis parturient. Est ligula cursus quis cursus commodo taciti natoque ut vel congue! Quisque tempus sociis eleifend ridiculus. Ipsum montes vel nam senectus fermentum dignissim. Urna arcu sit porta ullamcorper accumsan a? Viverra rhoncus ut.

   </div>
</div>
{% include 'footer.html.twig' %}