{% include 'head.html.twig' %}
<div class="ui grid container">
    <div class="row">
    </div>
    <div class="row ">
        <h1 class="ui dividing header">
            Terms of use
        </h1>
    </div>
    <div class="ui grid center segment">
        <div class="row">
        </div>
        <div class="ui text ">
            <h2>
                GDPR (General Data Protection Regulation)
            </h2>
            <p>
                14 sptember 2020
            </p>
            <p>
                OTELo, in its capacity as controller, informs you that your data is processed. When certain information is required to access specific features of the site, this requirement is indicated at the time of data entry collection. If you refuse to provide required entries, you may not be able to access certain services.
            </p>
          
        </div>
        <div class="ui text ">
            <div class="ui divider container">
            </div>
            <h3>
                Recorded data
            </h3>
            <p>
                Personal data may be collected by Corinne LEYVAL, director of OTELo 
            </p>
            <p>
                (Observatoire Terre Environnement de Lorraine) : Lorraine's Observatory of Earth and Environnement
            </p>
            <p>
                15, avenue du charmois
            </p>
            <p>
                54500 Vandoeuvres les nancy
            </p>  
            <p>
                <a onclick="APP.modules.send_email.contact()">
                    Contact us
                </a>
           
            </p>
            <p>
                The following personal data: 
            </p>
            <ul>
                <li>
                    Name
                </li>
                <li>
                    First Name
                </li>
                <li>
                    Email
                </li>
            </ul>
            <p>
                is likely to be collected by: 
            </p>
            <ul>
                <li>
                    ORDaR (OTELo Research Data Repository)
                </li>
            </ul>
            <p>
                As a result of:
            </p>
            <ul>
                <li>
                    Dataset deposit
                </li>
            </ul>
            
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Data recipients
            </h3>
            <p>
                This data is accessible to:
            </p>
            <ul>
                <li>
                    Site administrators of ORDaR for email
                </li>
                <li>
                    All of the world for name and firstname
                </li>
            </ul>
            
        </div>
        <div class="ui text ">
            <div class="ui divider container">
            </div>
            <h3>
                Data retention period
            </h3>
            <p>
                The data retention period shall not exceed: 
            </p>
            <ul>
                <li>
                    10 years maximum, for authenticated contributors who are no longer staff members
                </li>
            </ul>
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Data transfer outside the European Union
            </h3>
            <p>
                No data transfer outside the European Union is carried out. 
            </p>
            
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Personal rights
            </h3>
            <p>
                In compliance with the applicable legal and regulatory provisions, in particular Law No. 78-17 of 6 January amended relating to data processing, files and freedoms and European Regulation No. 2016/679/EU of 27 April 2016 (applicable since 25 May 2018), you have the following rights:
            </p>
            <p>
                if you are an Authenticated contributor: 
            </p>
            <ul>
                <li>
                    Update your data by logging into your account and configuring its settings
                </li>
                <li>
                    Delete your data by sending email to webadministrator
                </li>
            </ul>
            <p>
                If you are a User: 
            </p>
            <ul>
                <li>
                    Exercise your right of access, to know the personal data concerning you;
                </li>
                <li>
                    Request the updating of your data, if it is inaccurate;
                </li>
                <li>
                    Request portability or erasure of your data;
                </li>
                <li>
                    Request the deletion of your account;
                </li>
                <li>
                    Request the limitation of the processing of your data;
                </li>
                <li>
                    Oppose, for legitimate reasons, the processing of your data;
                </li>
                <li>
                    Withdraw your consent to the processing of your data.
                </li>
            </ul>
            <p>
                To exercise these rights 
                <a onclick="APP.modules.send_email.contact()">
                    Contact us
                </a>
            </p>
            <p>
                You can also contact the Data Protection Officer at the following address:
            </p>
             <p>
                CNRS - SPD
            </p>
            <p>
                Site Jean Zay - Bat Ariane
            </p>
            <p>
                2 rue Jean Zay
            </p>
            <p>
                54500 VANDOEUVRE LES NANCY
            </p>
            <p>
                <a href="mailto:dpd.demandes@cnrs.fr">Contact CNRS-SPD</a>
            </p>
        </div>
        <div class="ui text ">
            <div class="ui divider">
            </div>
            <h3>
                Right to lodge a claim
            </h3>
            <p>
                If, after contacting us, you believe that your rights in the field of Information Technology and Liberties are not respected, you are entitled to file a claim online with the <a href="https://www.cnil.fr/">CNIL </a> online or by post.
            </p>     
        </div>
        <div class="row">
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% include 'footer.html.twig' %}