
{% include 'head.html.twig' %}
<div class="ui grid container">
<div class="row"></div>
<div class="row">
<h1> New upload </h1>
	
</div>
<div class="ui ten wide column centered">
	
{% if error %}

<h1>error, please check fields</h1>


{% endif %}
<form class="ui form" method="post" enctype="multipart/form-data" >
 <div class="required field">
<input type="file" name="file[]" required="">
</div>
<div class="required field" id="files">
</div>
<input type="button" class="ui button active" id="addfile" value="Add a file"></input>

{% include 'formdataset.html.twig' %}

         

</div>

{% include 'footer.html.twig' %}
