{% include 'head.html.twig' %}
<div class="ui grid container">
   <div class="row"></div>
   <div class="row">
      <h1> New upload </h1>
   </div>
   <div class="ui fourteen wide column centered">
      {% if error %}
      <div class="ui warning message">
         <div class="header">
            Warning!  
         </div>
         {{error}}
      </div>
      {% endif %}
      <div class="ui message">
         <div class="header">
            Instructions:
         </div>
         <p>Upload minimum one file and fill-in required fields (marked with a red star ).</p>
      </div>
      <form class="ui form" method="post" enctype="multipart/form-data" >
         <h4 class="ui dividing header">Files <i class="file icon"></i> </h4>
         <div class="required field">
            <label for="file" class="custom-file-upload">
            File 
            </label>
         </div>
         <div class="ui grid">
            <div class="required field" id="files">
               <div class="ui input">
                  <input id="file" data-validate="file" type="file" name="file[]" required="">
               </div>
            </div>
            <div class="row"></div>
         </div>
         <div class="ui primary  button" id="addfile">
            <i class="plus icon"></i> Add a file
         </div>
         {% include 'formdataset.html.twig' %}
          <div class="ui grid ">
            <div class="ui sixteen wide column ">
            <div class="ui error message"></div>
            <div class="row"></div>
            <a href="javascript:history.back();" class="ui red button" >Cancel</a>
            <button class="ui submit right floated  button" >Submit</button>
            </div>
            <div class="row"></div>
         </div>
      </form>
   </div>
</div>
</div>
<script type="text/javascript">
   APP.modules.upload.init();
   
   
</script>
{% include 'footer.html.twig' %}